/*
  font-family: 'Roboto 400 500 700 900', sans-serif;
  font-alternative: 'Raleway 700', sans-serif;
    
*/

:root {
  --header-text-color: #212121;
  --header-text-color-alt: #ffffff;
  --text-color: #757575;
  --background-color: #ffffff;
  --background-color-alt: #2f303a;
  --button-text-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;

  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* --------------------------WebStudio---------------------------- */
/* ------------------------Шапка навигация------------------------ */
.header {
}

.header-title {
}

.header-nav {
}

.header-list {
}

.header-item {
}

.header-link {
}

.header-contacts {
}

.header-mail {
}

.header-tel {
}

/* -----------------------Главный-контент------------------------ */
/* ----------------------------Герой----------------------------- */

.main {
}

.hero {
}

.hero-title {
}

.hero-button {
}

/* -----------------------------Цели----------------------------- */

.goals-section {
}

.goals-title {
}

.goals-list {
}

.goals-item {
}

.goals-heading {
}

.goals-text {
}

/* ---------------------------Деятельность-------------------------- */

.activity {
}

.activity-title {
}

.activity-list {
}

.activity-picture {
}

/* -------------------------------Команда------------------------------ */

.